.game {
  > * {
    float: left;
    line-height: 50px;
  }
  
  @size: 50px;
  @size2: 35px;
  
  .bubbly(@s) {
    font-family: 'Roboto Slab', serif;
    line-height: @s - 2px;
    text-align: center;
    width: @s;
    height: @s;
    border-radius: @s / 2;
  }

  .move {
    position: relative;
    width: 75px;
    height: @size;

    .profilepic {
      .bubbly(@size)
    }

    .name {
      .bubbly(@size2);
      position: absolute;
      top: (@size - @size2) / 2;
      right: 0;
      font-size: 18px;
      font-weight: bold;
    }
  }
  
  .result {
    font-size: 32px;
    margin: 0 15px;
  }
  
  .points {
    .bubbly(@size);
    float: right;
    font-size: 24px;
    font-weight: bold;
    background: #f5f5f5;
  }
}
